# Bloated Code
LongMethods=true
LongNames=false
LongClasses=false
LongParameterList=false
ArrowheadIndentation=false
SwitchStatements=false
PrimitiveObsession=false

# OOP Violations
TemporaryFields=false
DataClass=false

RefusedBequest=true

# Change Preventers
ShotgunSurgery=false
DivergentChange=false

# Couplers
FeatureEnvy=false
InappropriateIntimacy=false
MessageChains=false
MiddleMan=false

