@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.wrapper {
    display: flex;
    align-items: stretch;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #3186dd;
    color: #f0f0f0;
    transition: all 0.3s;
    min-height: 100vh;
    min-width: 250px;
    width: 20%;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #3186dd;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #1a69bb;
    background: #f0f0f0;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #1a69bb;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #1a69bb;
}

#content {
    position: relative;
    background-color: #f0f0f0;
    width: 100vw;
    padding: 2vh 2vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.upload__icon {
    width: 150px;
    height: 106px;
}

#uploader {
    width: 100%;
    min-width: 80%;
    text-align: center;
    padding: 5%;
}

.box {
    font-size: 50px; /* 20 */
    position: relative;
    padding: 100px 20px;
}

.box.has-advanced-upload {
    outline: 2px dashed #3186dd;
    outline-offset: -10px;

    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
}

.box.is-dragover {
    outline-offset: -20px;
    outline-color: #3186dd;
    background-color: #fff;
}

.box__dragndrop,
.box__icon {
    display: none;
}

.box.has-advanced-upload .box__dragndrop {
    display: inline;
}

.box.has-advanced-upload .box__icon {
    width: 100%;
    height: 80px;
    fill: #3186dd;
    display: block;
    margin-bottom: 40px;
}

.box.is-uploading .box__input,
.box.is-success .box__input,
.box.is-error .box__input {
    visibility: hidden;
}

.box__uploading,
.box__success,
.box__error {
    display: none;
}

.box.is-uploading .box__uploading,
.box.is-success .box__success,
.box.is-error .box__error {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;

    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.box__uploading {
    font-style: italic;
}

.box__success {
    -webkit-animation: appear-from-inside .25s ease-in-out;
    animation: appear-from-inside .25s ease-in-out;
}

@-webkit-keyframes appear-from-inside {
    from {
        -webkit-transform: translateY(-50%) scale(0);
    }
    75% {
        -webkit-transform: translateY(-50%) scale(1.1);
    }
    to {
        -webkit-transform: translateY(-50%) scale(1);
    }
}

@keyframes appear-from-inside {
    from {
        transform: translateY(-50%) scale(0);
    }
    75% {
        transform: translateY(-50%) scale(1.1);
    }
    to {
        transform: translateY(-50%) scale(1);
    }
}

.box__restart {
    font-weight: 700;
}

.box__restart:focus,
.box__restart:hover {
    color: #1460ae;
}

.js .box__file {
    display: none;
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.js .box__file + label {
    max-width: 80%;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
}

.js .box__file + label:hover strong,
.box__file:focus + label strong,
.box__file.has-focus + label strong {
    color: #1460ae;
}

.js .box__file:focus + label,
.js .box__file.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.no-js .box__file + label {
    display: none;
}

.no-js .box__button {
    display: block;
}

.box__button {
    font-family: "Bebas Neue", sans-serif;
    font-size: inherit;
    font-weight: normal;
    color: #f0f0f0;
    background-color: #3186dd;
    display: block;
    padding: 8px 16px;
    margin: 40px auto 0;
}

.box__button:hover,
.box__button:focus {
    background-color: #1460ae;
}

#config {
    font-size: x-large;
    height: 100vh;
}

#config .main__item {
    align-content: center;
    width: 75vw;
    background: #1460ae;
    padding: 20px;
    margin: 0;
}

.main__item {
    color: #f0f0f0;
    display: block;
    position: relative;
    cursor: pointer;
    font-size: x-large;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    text-indent: calc(35px + 25px);
}

.main__item input {
    color: #f0f0f0;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: calc(50% - (25px / 2));
    left: 25px;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.main__item:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.main__item input:checked ~ .checkmark {
    background-color: #3186dd;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.main__item input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.main__item .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#config .sub__item {
    position: relative;
    display: block;
    width: inherit;
    background: #3186dd;
    padding: 20px;
}

#config .sub__item input {
    margin: 0 2%;
}

#content .hidden {
    display: none;
}